{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .postsContainer {
            margin: 0 auto;
            width: 70%;
        }

        .postContainer {
            border: 1px solid lightgray;
            margin-bottom: 2rem;
            width: 100%;
        }

        .authorContainer {
            padding: 0.6rem;
        }

        .author-profile-image {
            max-width: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem;
            font-size: 1.3rem;
        }

        .author-profile-image img {
            width: 100%;
        }

        .imgContainer > img {
            width: 100%;
        }

        .infoContainer hr {
            margin: 0;
        }

        .infoContainer > .head {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.3rem 0.5rem;
        }

        .infoContainer > .head > * {
            margin-right: 0.5rem;
        }

        .infoContainer > .head img {
            max-width: 30px;
        }

        .infoContainer > .body > a {
            color: black;
            font-weight: bolder;
            font-size: 1.2rem;
        }

        .infoContainer > .body {
            padding: 0.3rem 0.5rem;
        }


    </style>
    <div class="postsContainer">
        {% for post in posts %}
            <div class="postContainer">
                <div class="authorContainer d-flex align-items-center">
                    <a href="{% url "user:profile" post.author.username %}" class="author-profile-image">
                        <img src="{{ post.author.image.url }}" alt="{{ post.author.username }}프로필 사진">
                    </a>
                    <a href="{% url "user:profile" post.author.username %}">{{ post.author.username }}</a>
                </div>
                <div class="imgContainer">
                    <img src="{{ post.image.url }}" alt="게시글 이미지">
                </div>
                <div class="infoContainer">
                    <div class="head">
                        <img id="like{{ post.id }}"
                                {% if user in post.like.all %}
                             src="{% static 'fill_heart.png' %}"
                                {% else %}
                             src="{% static 'empty_heart.png' %}"
                                {% endif %}
                             alt="heart" width="100%">
                        <a href="{% url 'post:detail' post.id %}">
                            <img src="{% static 'comment.png' %}" alt="댓글 버튼">
                        </a>
                        <div class="text-dark font-weight-bolder">
                            <span>
                            좋아요
                                <span id="postLikeCount{{ post.id }}">{{ post.like.count }}</span>개
                            </span>
                        </div>
                        <div class="text-dark font-weight-bolder">
                            <span>
                            댓글
                                <span id="postLikeCount">{{ post.comment_set.count }}</span>개
                            </span>
                        </div>

                        <script>
                            $("#like{{ post.id }}").click(function () {
                                $.ajax({
                                    url: "{% url 'post:like_post' post.id %}",
                                    success: ({flag, count}) => {
                                        console.log(flag, count)
                                        $("#postLikeCount{{ post.id }}").text(count)
                                        if (flag) {
                                            $(this).attr(
                                                "src",
                                                "{% static 'fill_heart.png' %}"
                                            )
                                        } else {
                                            $(this).attr(
                                                "src",
                                                "{% static 'empty_heart.png' %}"
                                            )
                                        }
                                    }
                                })
                            })


                        </script>
                    </div>
                    <hr>
                    <div class="body">
                        <a href="{% url 'user:profile' post.author %}">{{ post.author }}</a>
                        {{ post.content }}
                        <br>

                        <div class="text-black-50 small">
                            {{ post.create_at }}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}