{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .postsContainer {
            margin: 0 auto;
            width: 70%;
        }

        .postContainer {
            border: 1px solid lightgray;
            margin-bottom: 2rem;
            width: 100%;
        }

        .authorContainer {
            padding: 0.6rem;
        }

        .author-profile-image {
            max-width: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem;
            font-size: 1.3rem;
        }

        .author-profile-image img {
            width: 100%;
        }

        .imgContainer > img {
            width: 100%;
        }

        .infoContainer > .head > img {
            max-width: 30px;

        }
    </style>
    <div class="postsContainer">
        {% for post in posts %}
            <div class="postContainer">
                <div class="authorContainer d-flex align-items-center">
                    <a href="{% url "user:profile" post.author.username %}" class="author-profile-image">
                        <img src="{{ post.author.image.url }}" alt="{{ post.author.username }}프로필 사진">
                    </a>
                    <a href="{% url "user:profile" post.author.username %}">{{ post.author.username }}</a>
                </div>
                <div class="imgContainer">
                    <img src="{{ post.image.url }}" alt="게시글 이미지">
                </div>
                <div class="infoContainer">
                    <div class="head d-flex">
                        {% if user in post.like.all %}
                            <img src="{% static 'fill_heart.png' %}" alt="좋아요 버튼">
                        {% else %}
                            <img src="{% static 'empty_heart.png' %}" alt="좋아요 버튼">
                        {% endif %}
                        <img src="{% static 'comment.png' %}" alt="좋아요 버튼">
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}