{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <form action="{% url 'user:password' %}" method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_field form.image %}
        {% bootstrap_field form.username %}
        <div class="form-group">
            <label for="id_password">비밀번호</label>
            <div class="form-control-static"
                 title="원본 비밀번호는 저장되지 않으므로, 해당 사용자의 비밀번호를 확인할 수 없습니다. 다만 이 폼을 사용하여 비밀번호를 변경할 수 있습니다." id="id_password">

                <span>비밀번호는 <strong><a
                        href="{% url 'user:password' %}">여기</a></strong>에서 설정 가능합니다.</span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
{% endblock %}